Title: Hardware Requirements
URL: https://wiki.sugarlabs.org/go/Hardware_Requirements
--------------------------------------------------------------------------------
Detailed Hardware Requirements
Before you download, you need to know if you can use the 64-bit version. If your computer says on the box or documentation that it is 64-bit, you may use the 64-bit download version of Sugar called  "x86_64". If you have an Intel MacIntosh, you will need the 64-bit x86_64 version.  It is fairly safe to say that PCs above Pentium 2 (commenced production end 1995) and meeting the specification below can run the "i686" version. Sticks made with the "i686" version may be more transferrable between different PCs.
Fedora developers reported these minimum requirements for the Fedora 17 distributions.
A 400 MHz or faster processor
At least 512 MB memory (RAM), 1 GB recommended for best performance.
However by Fedora 19 specifications have risen (
http://docs.fedoraproject.org/en-US/Fedora/19/html/Release_Notes/sect-Release_Notes-Welcome_to_Fedora_.html#hardware_overview
) to:
A 1GHz or faster processor
1GB System Memory - RAM
These higher specifications are probably not critical to Sugar on a Stick made by the Fedora Live USB Creator method. However the LiveCD may not boot on a PC with RAM lower than 768 MB, you may encounter an automated check which  causes the boot to abort if insufficient memory is found.
Sugar on a Stick/Boot #Troubleshooting #Low Memory, RAM, Hardware
describes a workaround.
Lower memory machines may work, the XO-1 runs with 256 MB, but running Sugar from a USB stick in a PC, (x86), environment with 256 MB RAM will be sub-optimal.
You will need to ensure the computer you plan to use is capable of booting from CD or USB.
On older machines, you will probably need to make a change in the BIOS (see your computer's hardware documentation). Change
Boot Order
, so that
Boot from CD
or
Boot from USB
comes before
Boot from Hard Drive
. Many newer computers detect the USB device as a hard drive, see
http://www.pendrivelinux.com/usb-bios-boot-options/
For SoaS the recommended minimum size of your USB flash drive is 2 GB, although a 1 GB drive will also work.